@model IEnumerable<Taller_LigaPro.Models.Equipo>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a class="btn btn-success" clasasp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosJugados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosGanados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosEmpatados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidosPerdidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToatalPuntos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosJugados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosGanados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosEmpatados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidosPerdidos)
            </td>           
            <td>    
                @Html.DisplayFor(modelItem => item.ToatalPuntos)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditarEquipo", new {id=item.Id }, new { @class = "btn btn-success"}) |
                    @Html.ActionLink("Details", "Details", new { }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
            